Repository aravnholt/foxforcefive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jimmoyle, @daltondhcp, @olguilla, @victorar

added require issue action
  .github/.workflows/requireIssue.yml
Owners: none

added require issue action
  .github/.workflows/requireIssue.yml
Owners: none

Pull request auth test
  apis/poi/jim.md
Owners: @daltondhcp

added require issue action
  .github/workflows/requireIssue.yml
Owners: none

Create trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

This may not work
  apis/trips/main.go
Owners: @jimmoyle

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update main.go
  apis/trips/main.go
Owners: @jimmoyle

Update main.go
  apis/trips/main.go
Owners: @jimmoyle

Delete healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @jimmoyle

added require issue action
  .github/workflows/requireIssue.yml
Owners: none

Create testfile.md
  testfile.md
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

i fixed something
  .github/workflows/trips.yml
Owners: none

updated with release
  .github/workflows/trips.yml
Owners: none

updated with dependson
  .github/workflows/trips.yml
Owners: none

Add API for user Java
  .github/workflows/user-java.yml
Owners: none

updated poi
  .github/workflows/poi.yml
Owners: none

user profile api
  .github/workflows/userprofile.yml
Owners: none

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

remove dup
  .github/workflows/userprofile.yml
Owners: none

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

Add check script
  .github/workflows/pollingcheck.sh
Owners: none

update check
  scripts/PwshCheck.ps1
  scripts/pollingcheck.sh
Owners: none

trips update
  .github/workflows/trips.yml
Owners: none

comment release
  .github/workflows/trips.yml
Owners: none

Comit release
  .github/workflows/trips.yml
Owners: none

uri
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Script Update
  scripts/PwshCheck.ps1
Owners: none

Better checking
  scripts/PwshCheck.ps1
Owners: none

I need this
  .github/workflows/poi.yml
Owners: none

updates user profile workflow
  .github/workflows/userprofile.yml
Owners: none

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/apis/trips @jimmoyle
/apis/poi @daltondhcp
/apis/user-java @olguilla
/apis/userprofile @victorar
